* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: "Vazirmatn", sans-serif;
  color: rgba(4, 10, 31, 0.87);
  
}

body {
  background-color: #ebecf2;
  position: relative;
}

.container {
  max-width: 1366px;
}
